<p>Bài 14</p>
<table border="1">
  <tr>
    <td>Ma Danh Muc</td>
    <td>Ten Danh Muc</td>
  </tr>
  <ng-container *ngFor="let c of categories">
    <tr>
      <td>{{ c.Cateid }}</td>
      <td>{{ c.CateName }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <table border="1" style="width: 100%;">
          <tr>
            <td>Ma San Pham</td>
            <td>Ten San Pham</td>
            <td>Gia San Pham</td>
            <td>Picture</td>
          </tr>
          <tr *ngFor="let p of c.Products">
            <td>{{ p.ProductId }}</td>
            <td>{{ p.ProductName }}</td>
            <td>{{ p.Price }}</td>
            <td>
              <img [src]="p.Image" alt="{{ p.ProductName }}" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </ng-container>
</table>
